# Git Configuration Template
# This file will be symlinked to ~/.gitconfig

[user]
	name = iPiranhaa
	email = tanatezp@gmail.com
	# Uncomment and update the lines below with your details:
	# name = Your Name
	# email = your.email@example.com

[core]
	excludesfile = ~/.gitignore_global
	editor = nano
	whitespace = space-before-tab,trailing-space

[color]
	ui = auto

[alias]
	# Common aliases
	co = checkout
	st = status
	br = branch
	ci = commit
	df = diff
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[push]
	default = simple
	autoSetupRemote = true

[pull]
	rebase = true

[init]
	defaultBranch = main
